.canvasContainer {
    display:flex;
    flex-direction: column;
    height:100vh;
    align-items: center;    
    /**/   
}

.title {
    color: darkolivegreen;
    font-family: 'Righteous', cursive;
    font-size: 60px;
}
.mainCanvas {
    display:grid;
    border: .2px solid black;
}

.buttonBar { 
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

button {
    width: 200px;
    margin:2px;
    
    border-radius: 5px
}

.resetButton {
    background-color: red;
    color: yellow;
    border-radius: 5px;
    font-size: 25px;    
}

.smallButton {
    font-size: 20px;    
}

.medButton {
    font-size: 25px;    
}

.largeButton {
    font-size: 30px;    
}